<!DOCTYPE html>
<html>
<head>
    {% block meta %}{% endblock %}
    <title>Index page</title>
    {% block styles %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
{% block javascript %}{% endblock %}
</html>
