{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="Language" content="en">
{% endblock %}

{% block body %}
    <p>Example page (example.html.twig).</p>

    <p>Some values:</p>
    <ul>
    {% for item in vars %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
{% endblock %}